openapi: 3.2.0
info:
  contact:
    email: partner-api@wish.com
  x-wish-dev-contact:
    assignee: kwei
    email: marketplace-external-api@contextlogic.com
  description: 'Wish Marketplace V3 API


    # General Information


    The Wish Marketplace API will be using oAuth to authenticate in order to offer better security for its users


    * Learn about oAuth here.'
  version: 3.0.65
  title: Wish Marketplace V3 Brands API
servers:
- url: https://merchant.wish.com
  description: V3 API endpoint
security:
- OAuth2: []
tags:
- name: Brands
paths:
  /api/v3/brands:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandList'
          description: successful operation
      parameters:
      - required: false
        in: query
        description: The beginning id(inclusive) of the brand result array. If not provided, will use the smallest ID.
        name: id_min
        schema:
          type: string
          format: object-id
      - required: false
        in: query
        description: The ending id(inclusive) of the brand result array. If not provided, will use the largest ID.
        name: id_max
        schema:
          type: string
          format: object-id
      - required: false
        in: query
        description: Sort results by the given attribute. Enabled attributes are `id`. Default order is `asc`, use `desc` to sort in reverse.
        name: sort_by
        schema:
          default: id.asc
          pattern: ^id(\.(asc|desc))?$
          type: string
      - in: query
        description: A limit on the number of records that will be returned.
        name: limit
        schema:
          default: 100
          minimum: 1
          type: integer
          maximum: 500
      tags:
      - Brands
      summary: Get a list of brands from a particular ID range
      security:
      - OAuth2: []
      operationId: listBrands
      x-code-samples:
      - lang: python_requests
        source: 'import requests


          url = "https://merchant.wish.com/api/v3/brands"


          querystring = {"id_min":"SOME_STRING_VALUE","id_max":"SOME_STRING_VALUE","sort_by":"SOME_STRING_VALUE","limit":"SOME_INTEGER_VALUE"}


          headers = {''authorization'': ''Bearer REPLACE_BEARER_TOKEN''}


          response = requests.request("GET", url, headers=headers, params=querystring)


          print(response.text)'
      - lang: javascript_jquery
        source: "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://merchant.wish.com/api/v3/brands?id_min=SOME_STRING_VALUE&id_max=SOME_STRING_VALUE&sort_by=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
      - lang: java_unirest
        source: "HttpResponse<String> response = Unirest.get(\"https://merchant.wish.com/api/v3/brands?id_min=SOME_STRING_VALUE&id_max=SOME_STRING_VALUE&sort_by=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE\")\n  .header(\"authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"
      - lang: shell_curl
        source: "curl --request GET \\\n  --url 'https://merchant.wish.com/api/v3/brands?id_min=SOME_STRING_VALUE&id_max=SOME_STRING_VALUE&sort_by=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE' \\\n  --header 'authorization: Bearer REPLACE_BEARER_TOKEN'"
      - lang: php_curl
        source: "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://merchant.wish.com/api/v3/brands?id_min=SOME_STRING_VALUE&id_max=SOME_STRING_VALUE&sort_by=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"authorization: Bearer REPLACE_BEARER_TOKEN\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
      description: A list of available brands on Wish that can be used to tag products.
components:
  schemas:
    BrandInfo:
      required:
      - id
      - name
      type: object
      properties:
        website:
          type:
          - string
          - 'null'
          description: Company website of the brand owner.
        id:
          type: string
          description: ID of the brand.
          format: object-id
        name:
          type: string
          description: Name of the brand.
    BrandList:
      items:
        $ref: '#/components/schemas/BrandInfo'
      type: array
  securitySchemes:
    OpenID:
      type: openIdConnect
      openIdConnectUrl: https://merchant.wish.com/oidc/.well-known/openid-configuration
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            payments:write: Update payments
            tickets:write: Write customer tickets
            epc:read: read EPC info
            returns:write: Write returns
            returns:read: Read returns
            fbw:read: Read FBW
            products:read: Read products
            payments:read: Read payments
            fbw:write: Write FBW
            merchant:write: Write merchant
            products:write: Write products
            ratings:read: Read ratings
            videos:read: Read videos
            compliance:write: Write Compliance
            product_boost:read: Read ProductBoost
            listing_quality:read: Read listing quality
            webhook:write: Write webhook
            orders:read: Read orders
            compliance:read: Read Compliance
            fbs:read: Read FBS
            penalties:read: Read penalties
            penalties:write: Update penalties
            infractions:read: Read infractions
            orders:write: Update orders
            merchant:read: Read merchant
            notifications:write: Write notifications
            announcements:read: Read announcements
            product_boost:write: Write ProductBoost
            notifications:read: Read notifications
            webhook:read: Read webhook
            qoo10:read: Read Qoo10
            wps_parcel:write: Write WishParcel
            wps_parcel:read: Read WishParcel
            tickets:read: Read customer tickets
            infractions:write: Write infractions
            videos:write: Write videos
            epc:write: write EPC info
          tokenUrl: https://merchant.wish.com/api/v3/oauth/access_token
          refreshUrl: https://merchant.wish.com/api/v3/oauth/refresh_token
          authorizationUrl: https://merchant.wish.com/v3/oauth/authorize
externalDocs:
  url: https://merchant.wish.com/documentation/api/v3/explorer
  description: API explorer
x-wish-hidden: false
